{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:form_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:checkbox_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock checkbox_row %}

{% block submit_row %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:submit_row.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock submit_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% include 'FlyBundle:Fields:form_errors.html.twig' with { errors : errors } only %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:choice_widget_collapsed.html.twig' with { form : form } only %}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block form_label %}
    {% spaceless %}
        {% include 'FlyBundle:Fields:form_label.html.twig' with { form : form, label_attr : label_attr } only %}
    {% endspaceless %}
{% endblock form_label %}

{% block date_widget %}
    {% spaceless %}

        <input type="hidden" class="{{ form.vars.id}}_year" name="{{ form.vars.full_name}}[year]" value="{{ form.vars.value.year }}">
        <input type="hidden" class="{{ form.vars.id}}_month" name="{{ form.vars.full_name}}[month]" value="{{ form.vars.value.month }}">
        <input type="hidden" class="{{ form.vars.id}}_day" name="{{ form.vars.full_name}}[day]" value="{{ form.vars.value.day }}">

        <div class="input-group ">
            {% if form.vars.value and form.vars.value.day %}
                {% set dataAtual = "%02d"|format(form.vars.value.day) ~ "/" ~ "%02d"|format(form.vars.value.month)  ~ "/" ~ form.vars.value.year %}
            {% else %}
                {% set dataAtual = null %}
            {% endif %}

            <div class="dtp-container">
                <input type="text" id="{{ form.vars.id}}" class="form-control date-picker"  value="{{ dataAtual }}" placeholder="Clique Aqui...">
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('#{{ form.vars.id}}').change(function(){
                    console.log($(this).val());
                });
            });
        </script>
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock date_widget %}
