<select id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="selectpicker" data-live-search="true" {{ form.vars.multiple ? "multiple" }}>
    {% if form.vars.required == false %}
        <option {{ form.vars.value == "" ? "selected" }} value="">{{ form.vars.placeholder }}</option>
    {% endif %}

    {% for choice in form.vars.choices %}
        {% set selected = false %}

        {% if form.vars.value is iterable and choice.value in form.vars.value %}
            {% set selected = true %}
        {% elseif form.vars.value == choice.value  %}
            {% set selected = true %}
        {% endif %}

        <option {{ selected ? "selected" }} value="{{ choice.value }}">{{ choice.label }}</option>
    {% endfor %}
</select>
